@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clamp-width-screen {
  font-size: clamp(0.7rem, 1vw, 3rem);
}
